
.icon-moon:before { content: '\e800'; } /* '' */
.icon-moon-inv:before { content: '\e801'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
