.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.navbar a {
  font-size: 1em;
  transition-duration: 0.5s;
  width: 100%;
  height: 100%;
}
.navbar a:hover {
  background: linear-gradient(to right, #59e796, #b1e16d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}
.navbar li {
  transition: 0.5s;
}
.navbar li:hover {
  background: rgba(17, 17, 17, 0.4);
}
.navbar li:hover a {
  background: linear-gradient(to right, #59e796, #b1e16d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}

#first-nav {
  border: none;
}

.nav-border {
  border-left: dotted rgba(255, 255, 255, 0.326) 5px;
}
@media (max-width: 991px) {
  .nav-border {
    border: none;
  }
}

.nav-item {
  margin: auto 1vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item ::content {
  vertical-align: middle;
}