$primary: #59e796;
$secondary: #b1e16d;
$dark: #393939;
$light: white;
$gradient-primary: linear-gradient(to right, $primary, $secondary);
$gradient-secondary: linear-gradient(to left, $primary, $secondary);
$gradient-first-button: radial-gradient(circle, $primary, $secondary);
$gradient-second-button: radial-gradient(circle, $secondary, $primary);
$font-dark: $light;
$font-light: black;
$special: #188028;
$github: #fc6d28;
$facebook: #4267b2;
$youtube: #ff0000;
