@import "./nav";
@import "./font.scss";

body {
  background: $gradient-primary;
  overflow-x: hidden;
}

.vertical{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.col {
  vertical-align: middle;
}

.col-8 {
  padding: 0;
}

#triangle {
  position: absolute;
  top: -20vh;
  width: 0;
  height: 0;
  border-top: 80vh solid transparent;
  border-left: 50vw solid $dark;
  border-bottom: 80vh solid transparent;
}

#over-layout {
  z-index: 2;
  position:relative;
}

#profession {
  color: $font-dark;
  margin-top: 20vh;
  a {
    color: $font-dark;
  }
  button {
    background: $gradient-primary;
    padding: 12px;
    border-radius: 40px;
    transition-duration: 0.5s;
  }
  button:hover {
    color: $font-light;
    box-shadow: 0 6px 8px 0 rgba(89,231,150,0.24), 0 17px 50px 0 rgba(177,225,109,0.19);
  }
}

#face-image {
  width: 100%;
  //display: none;
  //@media (min-width: 1510px) {
  //  display: block;
  //}
  -webkit-mask-image: linear-gradient(170deg, black, transparent);
  mask-image: linear-gradient(170deg, black, transparent);
  mask-mode: alpha;
}

.special-colors {
  color: $special;
}

#About {
  text-align: center;
  z-index: 1;
  position: relative;
}

.bg-dark {
  background-color: $dark !important;
}

.simple-shadow {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24);
}

.skills {
  margin-top: 20vh;
  padding: 5px;
  border-radius: 7px;
  background: $gradient-secondary;
  table {
    margin: 5px;
    width: calc(100% - 10px);
    td {
      height: 30px;
      display: inline;
      vertical-align: middle;
    }
  }
}

.skill-title {
  width: 20% !important;
}

#MySkills {
  padding: 5vh;
  h1{
    color: $font-dark;
    text-align: center;
  }
}

.skill-bar {
  background-color: #292929;
  width: 100%;
  border-radius: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.progress{
  background: $special;
  border-radius: 20px;
  margin: 0;
  height: 100%;
  text-align: center;
  padding-left: 10px;
  color: $light;
  vertical-align: middle;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.w-85 {
  width: 85%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-65 {
  width: 65%;
}

.w-60 {
  width: 60%;
}

.w-55 {
  width: 55%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

#MyTimeline {
  padding-top: 30px;
  position: relative;
  text-align: center;
}

#timeline {
  padding-top: 40px;
  width: 25% !important;
  margin-left: auto;
  margin-right: auto;
}

.left {
  border:solid black;
  border-left: none !important;
  height: 200px;
  width: 50%;
  float: left;
}

.right {
  border:solid black;
  border-right: none !important;
  height: 200px;
  width: 50%;
  float: left;
}

.clear {
  clear: both;
}

.b-t-n {
  border-top: none;
}

.b-b-n {
  border-bottom: none;
}

#checkpoint-container {
  z-index: 2;
  position: absolute;
  top: 130px;
  width: 100vw;
  height: calc(100% - 130px);
}

.checkpoint {
  width: fit-content !important;
  padding: 0 50px;
  border-radius: 20px;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  ::content {
    vertical-align: middle;
  }
}

#birth {
  background: $gradient-secondary;
  margin: 0 auto !important;
}

#first-on-side {
  margin-top: 0 !important;
}

.left-checkpoint {
  background-color: $secondary;
  margin-left: auto;
  margin-right: 60%;
}

.right-checkpoint {
  background-color: $primary;
  margin-left: 60%;
  margin-right: auto;
}

#mountains {
  position: absolute;
  width: 120%;
  height: fit-content;
  left: -27px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: visible;
}

.mountain{
  z-index: 3;
  width: 0;
	height: 0;
	border-left: 38px solid transparent;
	border-right: 38px solid transparent;
	border-bottom: 88px solid $dark;
  float: left;
}

#Projects {
  color: $font-dark;
  text-align: center;
  button {
    padding: 12px;
    border-radius: 40px;
    transition-duration: 0.5s;
    margin-top: 25px;
  }
  button:hover {
    color: $font-light;
    box-shadow: 0 6px 8px 0 rgba(95, 95, 95, 0.19), 0 17px 50px 0 rgba(36, 36, 36, 0.24);
  }
}

.left-project {
  background-color: $primary;
  margin:40px auto;
  width: 75%;
  padding: 50px;
  border-radius: 25px;
  color: $font-light;
  button {
    background: $gradient-first-button !important;
  }
  button:active {
    border-color: $primary !important;
  }
}

.right-project {
  background-color: $secondary;
  margin:40px auto;
  width: 75%;
  padding: 50px;
  border-radius: 25px;
  color: $font-light;
  button {
    background: $gradient-second-button !important;
  }
  button:active {
    border-color: $secondary !important;
  }
}

#ContactMe {
  text-align: center;
}

form {
  font-size: 0.5 rem;
}


footer {
  padding: 20px;
  background-color: black;
  color: $font-dark;
  text-align: center;
  bottom: 0;
}