@import "./nav";
@import "./font.scss";

body {
  background: $gradient-primary;
  overflow-x: hidden;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.col {
  vertical-align: middle;
}

.col-8 {
  padding: 0;
}

#triangle {
  position: absolute;
  top: -20vh;
  width: 0;
  height: 0;
  border-top: 80vh solid transparent;
  border-left: 50vw solid $dark;
  border-bottom: 80vh solid transparent;
}

#over-layout {
  z-index: 2;
  position:relative;
}

#profession {
  color: $font-dark;
  margin-top: 20vh;
  a {
    color: $font-dark;
  }
  button {
    background: $gradient-primary;
    padding: 12px;
    border-radius: 40px;
    transition-duration: 0.5s;
  }
  button:hover {
    color: $font-light;
    box-shadow: 0 6px 8px 0 rgba(89,231,150,0.24), 0 17px 50px 0 rgba(177,225,109,0.19);
  }
}

#face-image {
  width: 100%;
  //display: none;
  //@media (min-width: 1510px) {
  //  display: block;
  //}
  -webkit-mask-image: linear-gradient(170deg, black, transparent);
  mask-image: linear-gradient(170deg, black, transparent);
  mask-mode: alpha;
}

.special-colors {
  color: $font-special;
}

#About {
  text-align: center;
  z-index: 1;
  position: relative;
}

.bg-dark {
  background-color: $dark !important;
}

.simple-shadow {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24);
}

.skills {
  padding: 5px;
  border-radius: 7px;
  background: $gradient-secondary;
  table {
    margin: 5px;
    width: calc(100% - 10px);
    td {
      height: 30px;
    }
  }
}

.skill-title {
  width: 20% !important;
}

#MySkills {
  h1{
    color: $font-dark;
    text-align: center;
  }
}

.space {
  margin-top: 20vh;
}

.skill-bar {
  background-color: #292929;
  width: 100%;
  border-radius: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
}

//.progress-{
//  width: $value;
//  background-color: aqua;
//}