@import "./nav";
@import "./font.scss";

body {
  background: $gradient-primary;
  overflow-x: hidden;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.col {
  vertical-align: middle;
}

.col-8 {
  padding: 0;
}

#triangle {
  position: absolute;
  top: -200px;
  width: 0;
  height: 0;
  border-top: 800px solid transparent;
  border-left: 1000px solid $dark;
  border-bottom: 800px solid transparent;
}

#over-layout {
  z-index: 2;
  position:relative;
}

#profession {
  color: $font-dark;
  a {
    color: $font-dark;
  }
  button {
    background: $gradient-primary;
    padding: 12px;
    border-radius: 40px;
    transition-duration: 0.5s;
  }
  button:hover {
    color: $font-light;
    box-shadow: 0 6px 8px 0 rgba(89,231,150,0.24), 0 17px 50px 0 rgba(177,225,109,0.19);
  }
}

#face-image {
  width: 100%;
  display: none;
  @media (min-width: 1510px) {
    display: block;
  }
  -webkit-mask-image: linear-gradient(170deg, black, transparent);
  mask-image: linear-gradient(170deg, black, transparent);
  mask-mode: alpha;
}

.special-colors {
  color: $font-special;
}

#about {
  text-align: center;
  z-index: 1;
  position: relative;
}